{% extends 'base.html' %} {% block body_content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"
            >{% block nav_title %}Blogisivusto{% endblock %}</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Näytä/piilota navigaatio"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% block navigation_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"
                        >Hallinta</a
                    >
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %} {% endblock %}